# Core modules (mandatory)
jupyterlite-core==0.2.1
jupyterlab~=4.0.9
notebook~=7.0.6

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.2.0
jupyterlab-night

ipywidgets>=8.1.1,<9
ipyevents>=2.0.1
ipympl>=0.8.2
ipycanvas>=0.9.1
ipyleaflet

numpy
matplotlib
pandas
plotly
astropy
pyuvdata


